<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Report</title>
  <style>
  h2 {
    color: #c92281;
  }
</style>
</head>
<body>
  <h2>User's Command:{{Command}} </h2>
   <h2>User's From Alert: {{User_From_Alert}}</h2>
   <h2>Grafana's From Alert:{{Grafana_From_Alert}} /  Time: {{CreatedTime}}</h2>
    <h2>User's To Alert: {{User_To_Alert}} </h2>
    <h2> Grafana_To_Alert: {{Grafana_To_Alert}} / Time: {{CreatedTime}}
     <h2>TriggerTime: {{TriggerTime}} </h2>
      <h2>Check_Status: {{Check_Status}} </h2>
       <h2>Check_Time: {{Check_Time}} </h2>
        <h2>Dependent_Relays: R1: {{R1}}, R2: {{R2}}, R3: {{R3}}, R4: {{R4}}, R5: {{R5}}, R6: {{R6}} R7: {{R7}}, R8: {{R8}}  </h2>
        <h2>Delay_Time: {{Delay_Time}} </h2>
</body>
</html>